.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

:host {
  display: block;
}

body,
.font-body {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
.font-headline,
.font-manrope {
  font-family: 'Manrope', sans-serif;
}

.bg-background {
  background-color: #f8f9ff;
}

.text-on-background {
  color: #0b1c30;
}

.bg-primary {
  background-color: #00288e;
}

.bg-primary-container {
  background-color: #1e40af;
}

.bg-surface-container-lowest {
  background-color: #ffffff;
}

.bg-surface-container-highest {
  background-color: #d3e4fe;
}

.bg-surface-container-high {
  background-color: #dce9ff;
}

.bg-surface-container-low {
  background-color: #eff4ff;
}

.bg-secondary-container {
  background-color: #6cf8bb;
}

.bg-primary-fixed {
  background-color: #dde1ff;
}

.bg-tertiary-container {
  background-color: #591fc3;
}

.text-primary {
  color: #00288e;
}

.text-secondary {
  color: #006c49;
}

.text-tertiary {
  color: #40009c;
}

.text-error {
  color: #ba1a1a;
}

.bg-error {
  background-color: #ba1a1a;
}

.text-on-secondary-container {
  color: #00714d;
}

.text-on-primary-fixed {
  color: #001453;
}
